.NavBar {
  background-color: #7746d0;
  border: 1px solid #e901ff;
}

/* Icons */

i {
  color: #26eefe;
}

.NavLink {
  padding: 5px;
  text-decoration: none; 
  color: #26eefe;
}

.Active i {
  color: #e901ff;
}

.Active a {
  color: #e901ff;
}